<checker>

  <div each={ opts.results } class={ type }>
    <i>{ line.replace('L', '') }</i>{ source }<span if={ error }>{ error }</span>
  </div>

  <style scoped>
    :scope {
      display: block;
      font-family: monospace;
      border: 1px solid #ccc;
      border-radius: .5em;
      margin: 1em;
    }
    :scope > :first-child {
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;
    }
    :scope > :last-child {
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
    }
    div {
      background: #f0f0f0;
      padding: .1em 1em .1em 5em;
    }
    div.outside { background: #fff }
    div.template { background: #fff0f0 }
    div.script { background: #f0f0ff }
    div.style { background: #f0fff0 }
    i {
      margin-left: -5em;
      display: inline-block;
      width: 4em;
      text-align: right;
      padding-right: 1em;
      color: rgba(0,0,0,.5)
    }
    span {
      display: block;
      padding: .2em .6em;
      margin: .2em 0;
      border-radius: .3em;
      background: #ff0044;
      color: #fff;
    }
  </style>

</checker>
